<ion-app>
  <div class="ion-page" id="main-content">
    <ion-content fullscreen>
      <ion-card>
        <img src="././assets/image/logoPMPR2.jpg" class="container" width='auto' height='100px' />
        <ion-title class="centralizaTexto">Por gentileza, </ion-title>
        <ion-title class="centralizaTexto">preencha o questionário</ion-title>
      </ion-card>

      <ion-card class="colorBackground">
        <ion-title class="centralizaTexto">Faça uma autoavaliação do seu estado de saúde</ion-title>
      </ion-card>
      <ion-item *ngFor="let check of perguntas">
        <ion-label>{{check.pergunta}}</ion-label>
        <ion-checkbox [(ngModel)]="check.selected" color="primary">
        </ion-checkbox>
      </ion-item>

      <ion-card class="colorBackground">
        <ion-title class="centralizaTexto">Data do início dos sintomas</ion-title>
      </ion-card>
      <ion-item>
        <ion-label position="floating">data <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-datetime value="1990-02-19" [(ngModel)]="dataInicioSintomas"></ion-datetime>
      </ion-item>

      <ion-card class="colorBackground">
        <ion-title class="centralizaTexto">Teve contato próximo com caso suspeito</ion-title>
        <ion-title class="centralizaTexto"> de COVID-19 nos últimos 14 dias?</ion-title>
      </ion-card>
      <ion-radio-group [(ngModel)]="suspeito">
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio name="suspeito" value="true" slot="end"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não</ion-label>
          <ion-radio name="suspeito" value="false" slot="end"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card class="colorBackground">
        <ion-title class="centralizaTexto">Teve contato próximo com caso confirmado</ion-title>
        <ion-title class="centralizaTexto">de COVID-19 nos últimos 14 dias?</ion-title>
      </ion-card>
      <ion-radio-group [(ngModel)]="confirmado">
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio name="confirmado" value="true" slot="end"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não</ion-label>
          <ion-radio name="confirmado" value="false" slot="end"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card class="colorBackground">
        <ion-title class="centralizaTexto">Esteve em outro país</ion-title>
        <ion-title class="centralizaTexto">nos últimos 14 dias?</ion-title>
      </ion-card>
      <ion-list>
        <ion-item *ngFor="let check of outroPais" (click)="onclick(check)">
          <ion-label>{{check.outroPais}}</ion-label>
          <ion-radio [(ngModel)]="check.selected" color="primary" slot="end"></ion-radio>
        </ion-item>
      </ion-list>

      <!--
      <ion-radio-group [(ngModel)]="pais">
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio name="pais" value="true" slot="end" (click)="onclick(pais)"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não</ion-label>
          <ion-radio name="pais" value="false" slot="end" (click)="onclick(pais)"></ion-radio>
        </ion-item>
      </ion-radio-group>
    -->

      <ion-item *ngIf="mostraCampo">
        <ion-card class="colorBackground">
          <ion-title class="centralizaTexto">Onde?</ion-title>
        </ion-card>
          <ion-label position="floating">país <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input [(ngModel)]="onde"></ion-input>
      </ion-item>

      <ion-card class="colorBackground">
        <ion-title class="centralizaTexto">Cidade onde se encontra</ion-title>
      </ion-card>
      <ion-item>
        <ion-label position="floating">cidade <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input [(ngModel)]="cidade"></ion-input>
      </ion-item>

      <ion-card class="colorBackground">
        <ion-title class="centralizaTexto">Telefone para contato</ion-title>
      </ion-card>
      <ion-item>
        <ion-label position="floating">telefone <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input [(ngModel)]="telefone"></ion-input>
      </ion-item>

   


      <ion-button expand="block" (click)="salvarEstadoSaude()">Enviar</ion-button>

    </ion-content>
  </div>
</ion-app>