<ion-app>
  <ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-slides paginationClickable=true #slideQuest>

      <ion-slide>
        <div>
          <h2>Coronavírus</h2>

          <img src="././assets/image/coronavirus.jpg" />

          <p>
            Coronavírus (CID10) é uma família de vírus que causam infecções respiratórias.
            O novo agente do coronavírus foi descoberto em 31/12/19 após casos registrados na China.
            Provoca a doença chamada de coronavírus (COVID-19).
            Os primeiros coronavírus humanos foram isolados pela primeira vez em 1937.
            No entanto, foi em 1965 que o vírus foi descrito como coronavírus,
            em decorrência do perfil na microscopia, parecendo uma coroa.
            <br>
            (Fonte: https://www.saude.gov.br)
          </p>
        </div>

        <ion-button fill="clear" (click)="slideNext()">Continuar <ion-icon name="arrow-forward" slot="end"></ion-icon>
        </ion-button>
      </ion-slide>

      <ion-slide>
        <div>
          <ion-card class="colorBackground">
            Faça uma autoavaliação do seu estado de saúde
          </ion-card>
          <ion-card>
            <ion-item *ngFor="let check of perguntas" style="height: 50px;">
              <ion-label>{{check.pergunta}}</ion-label>
              <ion-checkbox [(ngModel)]="check.selected" color="primary">
              </ion-checkbox>
            </ion-item>
          </ion-card>

          <ion-row>
            <ion-col></ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button fill="clear" (click)="slidePrev()">Voltar <ion-icon name="arrow-back-outline" slot="start">
                </ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <div></div>
            </ion-col>
            <ion-col>
              <ion-button fill="clear" (click)="slideNext()">Continuar <ion-icon name="arrow-forward" slot="end">
                </ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-slide>

      <ion-slide>
        <div>
          <ion-card class="colorBackground">
            Data do início dos sintomas
          </ion-card>
          <ion-item>
            <ion-label position="floating">Data<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-datetime [dayShortNames]="customDayShortNames" displayFormat="DD-MMM-YYYY" monthShortNames="
                  janeiro, fevereiro, março, abril, 
                  maio, junho, julho, agosto, 
                  setembro, outubro, novembro, dezembro" cancel-text="cancelar" done-text="feito" value="01-01-1980"
              [(ngModel)]="dataInicioSintomas">
            </ion-datetime>
          </ion-item>

          <ion-card class="colorBackground">
            Teve contato próximo com caso suspeito de COVID-19 nos últimos 14 dias?
          </ion-card>
          <ion-radio-group [(ngModel)]="suspeito">
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>Sim</ion-label>
                  <ion-radio name="suspeito" value="true" slot="end"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label>Não</ion-label>
                  <ion-radio name="suspeito" value="false" slot="end"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>

          <ion-card class="colorBackground">
            Teve contato próximo com caso confirmado de COVID-19 nos últimos 14 dias?
          </ion-card>
          <ion-radio-group [(ngModel)]="confirmado">
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>Sim</ion-label>
                  <ion-radio name="confirmado" value="true" slot="end"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label>Não</ion-label>
                  <ion-radio name="confirmado" value="false" slot="end"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>

          <ion-card class="colorBackground">
            Esteve em outro país nos últimos 14 dias?
          </ion-card>
          <ion-radio-group [(ngModel)]=visitouPais (ionChange)="visitouSimNao()">
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>Sim</ion-label>
                  <ion-radio value="true" slot="end"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label>Não</ion-label>
                  <ion-radio value="false" slot="end"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>

          <ion-item *ngIf="mostraCampo">
            <ion-label position="floating">onde? <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input [(ngModel)]="onde"></ion-input>
          </ion-item>
        </div>

        <ion-row>
          <ion-col>
            <ion-button fill="clear" (click)="slidePrev()">Voltar <ion-icon name="arrow-back-outline" slot="start">
              </ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <div></div>
          </ion-col>
          <ion-col>
            <ion-button fill="clear" (click)="slideNext()">Continuar <ion-icon name="arrow-forward" slot="end">
              </ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-slide>

      <ion-slide>
        <div>
          <ion-card class="colorBackground">
            Cidade onde se encontra
          </ion-card>
          <ion-item>
            <ion-label position="floating">Cidade <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input [(ngModel)]="cidade"></ion-input>
          </ion-item>

          <ion-card class="colorBackground">
            Telefones para contato
          </ion-card>
          <ion-item>
            <ion-label position="floating">Telefone Fixo (se existir)
            </ion-label>
            <ion-input mask="(00)0000-0000" type="tel" title="Informe um telefone do Brasil com DDD com 2 digitos" placeholder="DDD + Telefone" inputmode="tel" [(ngModel)]="celular"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Celular
            </ion-label>
            <ion-input mask="(00)00000-0000" type="tel" title="Informe um celular do Brasil com DDD com 2 digitos" placeholder="DDD + Celular" inputmode="tel" [(ngModel)]="telefone"></ion-input>
          </ion-item>

          <ion-button expand="block" (click)="salvarEstadoSaude()">Enviar</ion-button>

          <div>
            <ion-button fill="clear" (click)="slidePrev()">Voltar <ion-icon name="arrow-back-outline" slot="start">
              </ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-content>
</ion-app>