#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-content ion-toolbar {
    --background: translucent;
  }
  
  .centralizaTexto {
    text-align: comparable($number1: 1, $number2: 2);
    width: auto;
   }
  
  .container .fakeImg {
    background: no-repeat center;
    background-size: cover;
  }
  
  .container {
    display: inline-block;
    border: 2px;
    margin: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  
  .textoJustify {
    text-align: justify;
    text-size-adjust: percentage($number: 50);   
  }

  .colorBackground{
    background: darkblue;color:whitesmoke;
  }

  .texto{
    width: 100%;

  }

  .title{
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
  }

  div {
    border: 1px solid gray;
    padding: 8px;
  }