<ion-app>
  <div class="ion-page" id="main-content">
    <ion-content fullscreen>
      <ion-card>
        <img src={{brasaoPMPR}} class="container" width='auto' height='100px' />
      </ion-card>
      <ion-card>
      <ion-title class="centralizaTexto">Identificação</ion-title>
      <div class="centralizaTexto">
        <ion-item>
          <ion-label position="floating">RG <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input mask="00000000-0" inputmode="numeric" type="text" [(ngModel)]="rg" required="true"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Data Nascimento <ion-text color="danger">*</ion-text></ion-label>
            <ion-datetime 
              [dayShortNames]="customDayShortNames" 
              displayFormat="DD-MMM-YYYY" 
              monthShortNames="
                janeiro, fevereiro, março, abril, 
                maio, junho, julho, agosto, 
                setembro, outubro, novembro, dezembro" 
              cancel-text="Cancelar" 
              done-text="OK" 
              value="01-01-1980"
              [(ngModel)]="dataNascimento"
              required="true">
            </ion-datetime>
        </ion-item>

        <ion-item>
          <ion-img src={{urlCaptcha}} alt="captcha"></ion-img>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Informe o texto acima <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input [(ngModel)]="captcha" required="true"></ion-input>

        </ion-item>
      </div>
      </ion-card>
      <ion-card>
        <ion-button expand="block" (click)="buscarPolicial()">Enviar</ion-button>
      </ion-card>
    </ion-content>
  </div>
</ion-app>
