<ion-app>
  <ion-content fullscreenc>
    <div style="margin-top: 100px; margin-bottom: 30px;">
      <img src="././assets/image/pmprtransparente.png" class="imagem" />
      <h2 class="centralizaTexto">Polícia Militar do Estado do Paraná</h2>
      <p class="centralizaTexto">
        Visando a comodidade e segurança de nossos policiais, estamos disponibilizando este canal para
        que o Sr(a). faça uma autoavaliação preliminar. 
      </p>
    </div>

    <ion-button expand="block" (click)="direcionaLogin()">CONTINUAR</ion-button>

  </ion-content>
</ion-app>